
<%- include("header"); -%>
<div class="box" id="heading">
	<h1><%= titleList %></h1>
</div>
       <div class="box">

         	<% itemList.forEach(function(item){ %>
         	<div class="item">
         		<input type="checkbox">
         	<p><%= item.name %></p>
         </div>
         <% }) %>
         <form class="item" action="/" method="POST">
		<input type="text" name="work" placeholder="New item" autocomplete="off">
		<button type="submit" name="listButton" value=<%= titleList %>>+</button>
	</form>
     </div>
         
<%- include("footer"); -%>

